<head>
<link rel = "stylesheet" href="css/style.css">
<h1 class="color size center"> < and > are chompies</h1>

<ul>
	<li><a href='/name'> name section </a></li>
	<li><a href='/calculator'> calculator </a></li>
	<li><a href='/'> home </a></li>
</ul>

<p class="yeild"><%=yield%></p>
</head>



<footer><a class="link_size" href="http://www.minedminds.org"target= "_blank">
mined minds website
</a>
</footer>

