<center><h3> Please enter your name and password</h3><br>
<h1><%=message%></h5><br><br>
<form method="post" action="login">
username	<input type="text" name = "username">
password    <input type="password" name = "password">
			<input type= "submit" value = "enter">
</form>	
</center>