<center><p style="color:orange"; style="font-size: 42vh"><%=message%></p><br>
<p>Please enter your name</p><br>


<form method="post" action="name">
first name	<input type="text" name = "first_name">
last name   <input type="text" name = "last_name">
			<input type= "submit" value = "enter">
</form>