<center><h5><%=message%></h5><br>
<h3>Please enter your name</h3><br>


<form method="post" action="name">
first name	<input type="text" name = "first_name">
last name   <input type="text" name = "last_name">
			<input type= "submit" value = "enter">
</form>