.color {
	color: green;
	background-image: url(/image/welp.jpg);
	background-position: center;
	background-size: 120px 70px;
	ba
}

.size {
	font-size: 12vh
}
ul{
	text-align: center;
	font-size: 6vh;
}
li{
	display: inline;
	padding-right: 4rem;
}
.center{
	 text-align: center
}

body{
	background-image: url(/image/game_logo_backround.jpg);
	background-size: cover;
	 color: white;
	 font-size: 3vh;
}

.link_size{
	font-size: 8vh; text-align: center; 
}

footer{
	text-align: center;
}





